.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: rgb(210, 151, 161);
}

body{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(232 232 240);
}

/* setting the h1 tags in header to invisible*/
.header h1{
    visibility: hidden;
}

/* positioning heading */
.header h2{
    display: inline;
    color: white;
    float: left;
}


/*styling the navigation links in the header*/
.header nav ul{

    list-style-type: none;
    text-align: right;
    color: white;
}

li{
    display: inline-block;
    text-decoration: none;

}

a{
    color: white;
    text-align: center;
    font-size: 25px;

}

/* setting size of header image*/
.portfolio-image{
    height: 100px;
    width: 100px;
    
}

#portfolio-contents{
    width: 75%;
    margin: 20px;

}

#title1{
    float: left;
    width: 20%;
}

/* setting the class as a flexbox*/
#Work {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 170px;
    padding: 40px;
}

/* positioning about me section on the page*/
#About-me {
        text-align: center;
        position: relative;
        left: 150px;
        padding: 50px;
        margin: 20px;
        height: 200px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #ffffff;
}

/* justifying contents in About me section*/
#About-me p{
    text-align: justify;
    font-size: 18px;
    color: black;
}

/* setting class contact as a flexbox*/
#Contact{
    display: flex;
    padding-left: 100px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

#Contact nav{
    width: 100%;

}

/*positioning the navigation links in Contact*/
#Contact nav ul a{
    font-size: 20px;
    text-align: center;
    padding: 50px;
    width: 25%;
    color: rgb(104 91 93);
}

/*positioining the projects except the first project of the candidate in class Works */
 .projects{

        position: relative;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        padding: 10px;
        flex: 0 2 400px;
 }

 /*positioning the first project  in class Work*/
 .projects1{
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    flex: 0 1 901px;
 }

 /* setting the images in class Work*/
 .projects img {
    width: 100%;
 }

 .projects1 img{
    width: 100%;
 }

 #portfolio-contents h2{
    margin-left: 250px;
    text-align: center;
    color: #507290
 }


/*setting the positions of the captions for the images*/

 .projects1 figcaption{
    position: absolute;
    top: 800px;
    left: 300px; 
    color: white;
    font-size: 30px;
 }

 #figure2{
    position: absolute;
    top: 150px;
    left: 16px;
    color: black;
    font-size: 30px;
 }

 #figure3{
    position: absolute;
    top: 130px;
    right: 30px;
    color: black;
    font-size: 30px;
 }

 #figure4{
    position: absolute;
    top: 200px;
    left: 16px;
    color: white;
    font-size: 30px;
 }


 #figure5{
    position: absolute;
    top: 200px;
    right: 30px;
    color: black;
    font-size: 30px;
 }

 /*  setting the main div container as a flexbox*/
main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 112%;
}

footer {
    padding: 10px;
    text-align: center;
    background: rgb(210, 151, 161);
    color: #fff;
  }

/* changing the font-size of the captions*/
@media screen and (max-width: 996px){
    #figure2{
      font-size: 20px;

    }

    #figure3{
        font-size: 20px;
    }

    #figure4{
        font-size: 14px;
    }

    #figure5{
        font-size: 20px;

    }

    .projects1 figcaption{
        font-size: 20px;
    }

    #About-me p{
        font-size: 16px;
    }

}

    
    @media screen and (max-width: 800px){
        #About-me p{
            font-size: 13px;
        }
}

/* adding glow effect to the images*/
.projects img:hover{
    box-shadow:  0 0 12px 10px rgb(165, 193, 109);

}

.projects1 img:hover{
    box-shadow: 0 0 12px 10px rgb(165, 193, 109) ;
}

