.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 130px;
    background-color: rgb(210, 151, 161);
}

body{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(199, 199, 231);
}

.header h1{
    visibility: hidden;
}

/* positioning heading */
.header h2{
    display: inline;
    /*position: absolute;
    left: 150px;
    top: 20px;*/
    color: white;
    float: left;
}

/* positioning navigation links */
/*.header nav{
    position: absolute;
    top: 20px;
    right: 0px;
}*/

.header nav ul{

    list-style-type: none;
    text-align: right;
    color: white;
}

li{
    display: inline-block;
    text-decoration: none;

}

a{
    color: white;
    text-align: center;
    font-size: 25px;

}


.portfolio-image{
    /*position: absolute;
    left: 10px;*/
    height: 100px;
    width: 100px;
    /*float: left;*/
}

#portfolio-contents{
    width: 75%;
    margin: 20px;

}

#title1{
    float: left;
    width: 20%;
}

#Work {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 170px;
}

#About-me {
        text-align: center;
        position: relative;
        left: 150px;
        padding: 50px;
        margin: 20px;
        height: 200px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /*background-color: rgb(162, 142, 142);*/
        color: #ffffff;
}

#About-me p{
    font-size: 18px;
    color: black;
}

/*#Contact {
        text-align: center;
        position: relative;
        left: 150px;
        padding: 50px;
        margin: 20px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(162, 142, 142);
        color: #ffffff;} */

#Contact{
    display: flex;
    padding-left: 100px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

#Contact nav{
    width: 100%;

}

#Contact nav ul a{
    font-size: 20px;
    text-align: center;
    padding: 50px;
    width: 25%;
}
 .projects{

        position: relative;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        padding: 10px;
        flex: 0 2 400px;
 }

 .projects1{
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    flex: 0 1 901px;
 }

 .projects img {
    width: 100%;
 }

 .projects1 img{
    width: 100%;
 }

 #portfolio-contents h2{
    margin-left: 250px;
    text-align: center;
 }



 .projects1 figcaption{
    position: absolute;
    top: 800px;
    left: 300px; 
    color: white;
    font-size: 30px;
 }

 #figure2{
    position: absolute;
    top: 150px;
    left: 16px;
    color: black;
    font-size: 30px;
 }

 #figure3{
    position: absolute;
    top: 150px;
    right: 30px;
    color: black;
    font-size: 30px;
 }

 #figure4{
    position: absolute;
    top: 200px;
    left: 16px;
    color: white;
    font-size: 30px;
 }


 #figure5{
    position: absolute;
    top: 200px;
    right: 30px;
    color: black;
    font-size: 30px;
 }

main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 112%;
}

footer {
    padding: 10px;
    text-align: center;
    background: rgb(210, 151, 161);
    color: #fff;
  }


@media screen and (max-width: 996px){
    #figure2{
      font-size: 20px;

    }

    #figure3{
        font-size: 20px;
    }

    #figure4{
        font-size: 14px;
    }

    #figure5{
        font-size: 20px;

    }

    .projects1 figcaption{
        font-size: 20px;
    }

    #About-me p{
        font-size: 16px;
    }

}

    
    @media screen and (max-width: 800px){
        #About-me p{
            font-size: 13px;
        }
}


